@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
  
  /* Login Variables */
  --color-brand-teal: #2ecfb4;
  --color-brand-tealHover: #25b59d;
  --color-brand-bg: #eef2f6;
  --color-brand-text: #333333;
  --color-brand-border: #d1d5db;

  /* Sign-Up Variables */
  --color-teal-flow: #2ecfb4;
  --color-teal-flow-hover: #25a892;
  --color-bg-surface: #e8eff5;

  /* Dashboard Variables */
  --color-surface: #f6fafe;
  --color-surface-dim: #d6dade;
  --color-surface-bright: #ffffff;
  
  --color-teal-400: #2ecfb4;
  --color-teal-500: #23a892;
  --color-teal-600: #1b806f;
  --color-teal-700: #13594d;

  --color-coral-100: #f5c6cb;
  --color-coral-200: #eba3a9;
  --color-coral-500: #d75a64;
  
  --background-image-teal-gradient: linear-gradient(135deg, #2ecfb4 0%, #a2f2df 100%);

  /* Projects Variables */
  --color-primary: #2ecfb4;
  --color-surface-projects: #f0f4f8;
  --color-card: #ffffff;
  --color-textMain: #1a202c;
  --color-textMuted: #718096;
  --color-avatarBg1: #e2e8f0;
  --color-avatarBg2: #cbd5e1;
  --color-surface-container-low: #f0f4f8;
  --color-on-surface-variant: #474b4e;
  --color-outline-variant: #c3c7ca;

  /* Board Variables */
  --color-board-bg: #E8F0F5;
  --color-overdue-container: #F1C1C1;
  --color-overdue-card: #FA6D77;

  --radius-32xl: 32px;
}
